.circle {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  width: 42px;
  height: 42px;
  padding: 12px;
}

.header {
  background-color: #000000;
  position: fixed;
  height: 66px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.main-area {
  margin-top: 66px;
}

.sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  height: 100%;
  padding: 0 14px;
  width: 10vh;
  min-width: 50px;
  z-index: 10;
  background-color: #ffffff;
}

.sidebar-menu {
  position: absolute;
  font-size: 30px;
}

.modal-backdrop {
  margin-top: 60px;
}

.content {
  padding: 48px;
}

@media (min-width: 1024px) {
  .content {
    margin-left: 10vh;
  }
}

.icon-wh {
  color: #ffffff;
}

.header-icon {
  font-size: 14px;
}

.navbar {
  justify-content: start;
}
.outer-circle {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  border: 2px solid white;
  padding-left: 14px;
  padding-top: 8px;
  margin-left: 24px;
}

.shopping-circle {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  border: 2px solid white;
  padding-left: 10px;
  padding-top: 8px;
  margin-left: 24px;
}

@media (max-width: 1440px) and (min-width: 1023px) {
  .navbar-brand {
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .navbar {
    margin-left: 10vh;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #sideIcons {
    display: none !important;
  }
  .navbar-header {
    margin: 0 auto;
  }
  .navbar-brand {
    margin: 0;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  #sideIcons {
    display: none !important;
  }
  .navbar-header {
    margin: 0 auto;
  }
  .navbar-brand {
    margin: 0;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  #sideIcons {
    display: none !important;
  }
  .navbar-header {
    margin: 0 auto;
  }
  .navbar-brand {
    margin: 0;
  }
}
@media (min-width: 375px) and (max-width: 424px) {
  #sideIcons {
    display: none !important;
  }
  .navbar-header {
    margin: 0 auto;
  }
  .navbar-brand {
    margin: 0;
  }
}
